.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1e1f26;
}
.lottie {
  width: 40rem;
}
.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.sidemenu {
  width: 18rem;
  padding: 10px;
  flex: 1;
  background-color: #202123;
}
.chatbox {
  flex: 4;
  background-color: #343541;
  position: relative;
}
.side-menu-button {
  padding: 1rem;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.755);
  border-radius: 10px;
  text-align: left;
  padding: 1rem;
  transition: ease 0.25s all;
  cursor: pointer;
}
.side-menu-button span {
  padding-left: 6px;
  padding-right: 12px;
}
.side-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.chat-input-holder {
  padding: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.chat-input-textarea {
  background-color: #40414f;
  color: white;
  border-style: none;
  width: 100vh;
  padding: 12px;
  border-radius: 5px;
  margin: 12px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.321);
}
.chat-log {
  text-align: left;
}
.chat-message.chatgpt {
  background-color: #444654;
}
.chat-message-center {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px;

  padding-left: 24px;
  padding-right: 24px;
}
.avatar {
  background: white;
  border-radius: 60%;
  width: 40px;
  height: 40px;
}
.avatar.chatgpt {
  background: #0da37f;
  border-radius: 60%;
  width: 40px;
  height: 40px;
}
